/* You can add global styles to this file, and also import other style files */
// img del about
.animate__animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  } /*para hacer la animacion de la imagen como tal, para que haya efecto (?)*/


@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  .animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  //loading 

  body{
    padding: 1em;
    background: white;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }
  
  
  /*
    Color del Loading
  */
  svg path,
  svg rect{
    fill: black;
  }